.post-category {
	color: #000000;
}


.post-category-tutorials {
	background-color: #C2A34F;
}

.post-category-blog-post {
	background-color: #FF8080;
}

.post-category-daily-evaluation {
	background-color: #DDE4DD;
}

.post-category-beginner {
	background-color: #599DD1;
}
